<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-6">Lista de Posts</h1>

  <table class="min-w-full table-auto border-collapse border border-gray-200">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-4 py-2 border-b text-left">Título</th>
        <th class="px-4 py-2 border-b text-left">Descrição do Post</th>
        <th class="px-20 py-2 border-b text-left">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-4 py-2 border-b"></td>
        <td class="px-4 py-2 border-b"></td>
        <td class="px-4 py-2 border-b">
          <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Editar</button>
          <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 ml-2">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
